<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>24. Servlet - Policy Project (context object)</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>issue</servlet-name>
    <servlet-class>com.bharat.policy.PolicyIssuanceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>issue</servlet-name>
    <url-pattern>/issue</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cancel</servlet-name>
    <servlet-class>com.bharat.policy.PolicyCancelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cancel</servlet-name>
    <url-pattern>/cancel</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>view</servlet-name>
    <servlet-class>com.bharat.policy.PolicyViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>view</servlet-name>
    <url-pattern>/view</url-pattern>
  </servlet-mapping>
</web-app>